<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <h1>Moja Strona </h1>
    {% for contact in contacts %}
    <h3>{{ contact.title|upper }}</h3>
    {{ contact.text|safe }}<br />
    {{ contact.posted_date|date:"Y.m.d H:i"}}
{% endfor  %}


<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
        <a href="?page=1">&laquo; Pierwsza</a>
        <a href="?page={{ contacts.previous_page_number }}">Poprzednia</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
           <a href="?page={{ contacts.next_page_number }}">Następna</a>
           <a href="?page={{ contacts.paginator.num_pages }}">Ostatnia &raquo;</a>
        {% endif %}
    </span>
</div>


  <nav aria-label="Page navigation example">
  <ul class="pagination">

     {% if contacts.has_previous %}
       <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
       <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">Poprzedni</a></li>
     {% endif %}



      {% if contacts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">Następny</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ contacts.paginator.num_pages }}">3</a></li>
      {% endif %}

  </ul>
</nav>



</head>
<body>

</body>
</html>